@using EPiServer.Web.Mvc.Html
@model Vaultopia.Web.Models.ViewModels.ProcessViewModel<Vaultopia.Web.Models.Pages.Process>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "process";
}
<div id="main">
    <div class="wrap">
        <main>


            <h1>@Html.PropertyFor(x => x.CurrentPage.Heading)</h1>
            <p class="introduction">
                @Html.PropertyFor(x => x.CurrentPage.Introduction)
            </p>
        </main>
    </div>
    <div style="margin: 0 auto; position: relative; max-width: 1000px">
        @Html.PropertyFor(x => x.CurrentPage.ProcessMap, "ResponsiveProcessMap")
    </div>
    <div class="wrap">
        <main>

            <div id="primary">
                @Html.PropertyFor(x => x.CurrentPage.MainBody)
            </div>
            <div id="secondary">


                @if (Model.CurrentPage.InfoDocuments != null && Model.CurrentPage.InfoDocuments.Any())
                {<ul>
                    <li><h2>Documents</h2></li>

                    @if (Model.FileList != null)
                    {
                        foreach (var file in Model.FileList)
                        {
                            <li>
                                <a href="@file.FileShareUrl">
                                    <img src="@file.FileUrl" />
                                    @file.FileName
                                </a>
                            </li>
                        }
                    }

                </ul>
                }
            </div>
            <aside>
                @Html.PropertyFor(x => x.CurrentPage.Teasers, new { Tag = "aside" })
            </aside>


        </main>

    </div>
</div>