@using EPiServer.Web.Mvc.Html
@model Vaultopia.Web.Models.ViewModels.PageViewModel<Vaultopia.Web.Models.Pages.Process>

@{
    ViewBag.BodyClass = "process";
}
<div id="main">
    <div class="wrap">
      
        <main>
            <div class="wrapProcess">

                <h1>@Html.PropertyFor(x => x.CurrentPage.Heading)</h1>
                <p class="introduction">
                    @Html.PropertyFor(x => x.CurrentPage.Introduction)
                </p>
                <div id="primary">
                    @Html.PropertyFor(x => x.CurrentPage.ProcessMap)
                    @Html.PropertyFor(x => x.CurrentPage.MainBody)
                </div>
            </div>

        </main>

            <div class="conProcess">
                <h1></h1>
                <div class="teasers wide-teasers">
                    @Html.PropertyFor(m => m.CurrentPage.WideTeasers, new { Tag = "wide" })
                </div>
           
        </div>
    </div>
</div>