@model Vaultopia.Web.Models.ViewModels.ArticleViewModel<Article>
@{
    ViewBag.BodyClass = "article";
}

<div id="main">
    <div class="wrap">
           
        <main>
            
            @if(Model.Slides != null) {
                <div id="slideshow">
                    <img src="@Model.Slides.FirstOrDefault().LargeImage.Url" alt="" />
                    <ul>
                        @foreach (var image in Model.Slides) {
                            <li data-large-url="@image.LargeImage.Url"><img src="@image.SmallImage.Url" alt="" /></li>
                        }
                    </ul>
                </div>
            }

            <h1>@Html.PropertyFor(x => x.CurrentPage.Heading)</h1>
            <p class="introduction">
                @Html.PropertyFor(x => x.CurrentPage.Introduction)
            </p>
            <div id="primary">
                @Html.PropertyFor(x => x.CurrentPage.MainBody)
                @Html.PropertyFor(x => x.CurrentPage.Media)
            </div>
            <div id="secondary">
                <ul>
                    <li><span></span><a href="#">Travelers guide</a></li>
                </ul>
            </div>
        </main>
        <aside>
            @Html.PropertyFor(x => x.CurrentPage.Teasers,new { Tag = "aside"})
        </aside>
    </div>
</div>

@section ExternalScripts {
    <script type="text/javascript">
        Vaultopia.ArticleSlideShow.init();
    </script>
}
