@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Vaultopia.Web.Helpers
@using ImageVault.EPiServer
@using Vaultopia.Web.Models.Pages
@model Vaultopia.Web.Models.ViewModels.NewsViewModel<NewsPage>

@{
    Layout = "";
}

<article>
    <h2><a href="@Url.PageUrl(Model.CurrentPage.LinkURL)">@Html.PropertyFor(m => m.CurrentPage.NewsHeading)</a></h2>
    @*Html.PropertyFor(x => x.CurrentPage.PartialImage, new { PropertySettings = PropertyHelpers.GetPropertySettings<NewsPage, MediaReference, PropertyMediaSettings>(Model.CurrentPage, m => m.PartialImage) })*@
    @if (Model.NewsImage != null)
    {
        <img src="@Model.NewsImage.Url" alt="" />
    }
    <p>@Html.PropertyFor(m => m.CurrentPage.IntroText)</p>
    <p class="location"><strong class="icon">Location: </strong>@Html.PropertyFor(m => m.CurrentPage.NewsLocation)</p>

    <p class="price"><strong>Pris: </strong>$@Html.PropertyFor(m => m.CurrentPage.NewsPrice)</p>
</article>